

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 font-style: normal;
 font-variation-settings:
    "wdth" 100;
}
/* header area */
.header{
    background-image:url(../images/developer.png),url('../images/header_bg.png');
    background-position: top left,bottom right;
    background-repeat: no-repeat;
    background-color:#FFF8F3;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 230px;
}
.banner button{
    margin-right: 30px;
}
.banner-content{
    max-width: 580px;
}
.content-head{
    font-size: 45px;
    font-weight: 600;
}
.contant-name{
    font-size: 85px;
    font-weight: bold;
}
.banner-description{
    font-size: 18px;
}
.banner-picture{
    width: 580px;
    height: 676px;
 }

.nav-title{
    font-size: 45px;
    font-weight: 800;
}

.text-primary{
    color: #FD6E0A;
}

ul li{
    list-style: none;
    margin-right: 50px;
}
 ul li a{
    text-decoration: none;
    font-size: 20px;
 }
/* shared style */

 .dark-2{
    color: #474747;
 }
 .dark-1{
    color: #181818;
 }
 .dark-3{
    color: #757575;
 }
 .text-align{
    text-align: center;
 }
 
 nav ul{
    display:flex;
    align-items: center;
 }
 .btn-primary{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    border:none;
    
 }
 /* main section */
 .main{
    max-width: 1140px;
    margin: 0 auto;
 }
 .main-section{
    background-color: #FFF8F3;
    padding: 130px 150px;
    margin-top: 130px;
    align-items: center;
 }
 .about-details{
    border: 2px solid black;
    background-color: white;
    padding: 10px;
 }
.about-me{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
    
}
.about-description{
    font-size: 18px;
    color: #757575;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content:space-around;
    padding-top: 20px;
}
    
.about-item{
    font-size: 20px;
    text-align: center;
}
.about-item p{
    margin: 0;
}
.item-title{
    color: #757575;
    
}
.item-description{
    color: #474747;
    font-weight: bold;
    /* margin-right: 2px; */
}
.skills-title{
    font-size: 35px;
    font-weight: bold;
    color:#181818;
}
.skills-description{
    font-size: 18px;
}

/* SKILLS SECTION */

.skill-conteiner{
    display: flex;
    gap:54px;
    margin-top: 50px;
}
.skill{
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;

}